addict
nltk
PyYAML
names
inflect
networkx
pandas
tqdm
comet_ml
torch==1.0.1.post2
torch-cluster==1.2.4
torch-geometric==1.0.3
torch-scatter==1.1.2
torch-sparse==0.2.4
torch-spline-conv==1.0.6
matplotlib==3.1.0
seaborn
bert-serving-client==1.8.4
